---
import Layout from "../layouts/Layout.astro";
---
<Layout title="404 Not found">
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-white text-3xl text-center"> 
            UPSS PARECE QUE HA HABIDO UN ERROR...  </h1>
            <img src="img\404Error.gif" >

    </div>
   
</Layout>