---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Alien Tools">
  <Header/>
  <div class="main-menu">
  <p>Este es el menú principal, o sea el index</p>
  </div>

  <div class="img-container">
  <img src="https://static.vecteezy.com/system/resources/previews/008/559/688/non_2x/main-menu-button-main-menu-text-web-banner-template-sign-icon-banner-vector.jpg">
  </div>
</Layout>
