---
function buttonClicked() {
    alert('Button clicked!');
}
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="img/png" href="img/Alien_icon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Html interface</title>
	</head>
	<body class="bg-gray-900 min-h-screen pb-32">
        <div class="card">
            <div class="icon">
                <i class="fas fa-heart"></i>
            </div>
            <div class="icon-circle">
                <i class="fas fa-star"></i>
            </div>
            <div class="image-container">
                <img src="path/to/your/image.jpg" alt="Imagen de ejemplo">
            </div>
            <div class="text">
                <p>Este es un texto de ejemplo.</p>
            </div>
            <button class="button" onclick="buttonClicked()">Link</button>
        </div>
	</body>
</html>