---

---

<div class="card bg-gray-900 min-h-screen pb-32">
  <div class="icon">
    <i class="fas fa-heart">❤️</i>
  </div>
  <div class="icon-circle">
    <a href="/">X<i class="fas fa-star"></i></a>
  </div>
  <div class="image-container">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEc9A_S6BPxCDRp5WjMFEfXrpCu1ya2OO-Lw&s" alt="Logo HTML" />
  </div>
  <div class="text">
    <p>HTML, acrónimo en inglés de HyperText Markup Language, hace referencia al lenguaje de marcado utilizado en la creación de páginas web. Este estándar que sirve de referencia del software que interactúa con la elaboración de páginas web en sus diferentes versiones.</p>
  </div>
  <a class="button" href="/">Volver</a>
</div>

<style>
  .card {
      position: relative;
      width: 95%;
      height: auto;
      background-color: #fff; /* Fondo de la tarjeta blanco */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      overflow: hidden;
      text-align: center;
      padding: 20px;
      box-sizing: border-box;
      color: #000;
      transition: transform 0.3s ease;
      margin: auto;
  }
  
  .card:hover {
      transform: scale(1.05); 
  }
  
  .icon {
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 24px;
      color: #e74c3c;
  }
  
  .icon-circle {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 40px;
      height: 40px;
      background-color: #3498db;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 20px;
  }
  
  .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      margin-top: 20px;
  }
  
  .image-container img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 10px;
  }
  
  .text {
      padding: 5%;
      text-align: justify;
  }
  
  .button {
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px 20px;
      background-color: #3498db;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }
  
  .button:hover {
      background-color: #2980b9;
  }
