---

---

<!-- First card -->
<div class="container">
  <div class="card bg-gray-900 min-h-screen pb-32">
    <div class="icon-circle">
      <a href="/">X</a>
    </div>
    <div class="image-container">
      <img
        src="https://edworking.com/_next/image?url=%2Fimages%2FLogo.png&w=256&q=75"
        alt="Logo HTML"
      />
    </div>
    <div class="text">
      <p>
        Genera código HTML sin esfuerzo, escribe lo que necesites y te generara
        el código
      </p>
    </div>
    <a
      class="button"
      href="https://edworking.com/es/ai-tools/generador-de-codigo-html">link</a
    >
  </div>

  <!-- Second card -->
  <div class="container">
    <div class="card bg-gray-900 min-h-screen pb-32">
      <div class="icon-circle">
        <a href="/">X</a>
      </div>
      <div class="image-container">
        <img
          src="https://edworking.com/_next/image?url=%2Fimages%2FLogo.png&w=256&q=75"
          alt="Logo HTML"
        />
      </div>
      <div class="text">
        <p>
          Genera código HTML sin esfuerzo, escribe lo que necesites y te
          generara el código
        </p>
      </div>
      <a
        class="button"
        href="https://edworking.com/es/ai-tools/generador-de-codigo-html"
        >link</a
      >
    </div>

    <div class="container">
      <div class="card bg-gray-900 min-h-screen pb-32">
        <div class="icon-circle">
          <a href="/">X</a>
        </div>
        <div class="image-container">
          <img
            src="https://edworking.com/_next/image?url=%2Fimages%2FLogo.png&w=256&q=75"
            alt="Logo HTML"
          />
        </div>
        <div class="text">
          <p>
            Genera código HTML sin esfuerzo, escribe lo que necesites y te
            generara el código
          </p>
        </div>
        <a
          class="button"
          href="https://edworking.com/es/ai-tools/generador-de-codigo-html"
          >link</a
        >
      </div>

      <div class="container">
        <div class="card bg-gray-900 min-h-screen pb-32">
          <div class="icon-circle">
            <a href="/">X</a>
          </div>
          <div class="image-container">
            <img
              src="https://edworking.com/_next/image?url=%2Fimages%2FLogo.png&w=256&q=75"
              alt="Logo HTML"
            />
          </div>
          <div class="text">
            <p>
              Genera código HTML sin esfuerzo, escribe lo que necesites y te
              generara el código
            </p>
          </div>
          <a
            class="button"
            href="https://edworking.com/es/ai-tools/generador-de-codigo-html"
            >link</a
          >
        </div>
        <style>
          .container {
            display: flex;
            flex-flow: row;
            justify-content: flex-start;
            gap: 25px;
          }

          .card {
            position: relative;
            box-sizing: border-box;
            min-width: 240px; /*240px */
            min-height: 400px;
            max-width: 240px; /*240px */
            max-height: 400px;

            background-color: #ffffff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            overflow: hidden;
            text-align: center;
            transition: transform 0.3s ease;
          }

          .card:hover {
            transform: scale(1.05);
          }

          .icon-circle {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 30px;
            height: 30px;
            background-color: #ff0000;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 16px;
          }

          .icon-circle:hover {
            background-color: #ff0000a1;
          }

          .image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150px;
            margin-top: 10px;
          }

          .image-container img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 10px;
          }

          .text {
            padding: 5%;
            text-align: justify;
          }

          .button {
            display: inline-block;
            margin: 20px 0;
            padding: 8px 16px;
            background-color: #004aac;
            color: #ffffffb0;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
          }

          .button:hover {
            background-color: #2980b9;
          }
        </style>
      </div>
    </div>
  </div>
</div>
